*.cs diff=csharp
*.unity merge=unityyamlmerge eol=lf
*.unity.meta merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.prefab.meta merge=unityyamlmerge eol=lf
*.txt text eol=lf
*.md text eol=lf
